body {
  margin:0px;
  background-color:rgba(255, 255, 255, 0.34901960784313724);
  background-image:none;
  position:relative;
  left:-0px;
  width:1230.5px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:-326px;
  width:917px;
  height:1478px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  transition:none;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:1478px;
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:-119px;
  width:991px;
  height:1230px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  transition:none;
  color:#C6EE77;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:1230px;
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:22px;
  width:493px;
  height:626px;
  display:flex;
  transition:none;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:636px;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:130px;
  width:347px;
  height:471px;
  display:flex;
  transition:none;
}
#u67 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:471px;
}
#u67_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:102px;
  background:inherit;
  background-color:rgba(158, 83, 204, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Gill Sans Ultra Bold Oblique", "Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:oblique;
  font-size:22px;
  color:#FFFF80;
  text-align:justify;
  text-justify:inter-word;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:287px;
  width:489px;
  height:102px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Gill Sans Ultra Bold Oblique", "Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:oblique;
  font-size:22px;
  color:#FFFF80;
  text-align:justify;
  text-justify:inter-word;
}
#u68 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:125px;
  background:inherit;
  background-color:rgba(158, 83, 204, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Gill Sans Ultra Bold Oblique", "Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:oblique;
  font-size:22px;
  color:#FFFF80;
  text-align:justify;
  text-justify:inter-word;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:130px;
  width:554px;
  height:125px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Gill Sans Ultra Bold Oblique", "Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:oblique;
  font-size:22px;
  color:#FFFF80;
  text-align:justify;
  text-justify:inter-word;
}
#u69 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1216px;
  height:154px;
  background:inherit;
  background-color:rgba(158, 83, 204, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Gill Sans Ultra Bold Oblique", "Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:oblique;
  font-size:29px;
  color:#FFFF80;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:693px;
  width:1216px;
  height:154px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Gill Sans Ultra Bold Oblique", "Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:oblique;
  font-size:29px;
  color:#FFFF80;
}
#u70 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u70_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:31px;
  background:inherit;
  background-color:rgba(158, 83, 204, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Gill Sans Ultra Bold Oblique", "Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:oblique;
  font-size:22px;
  color:#FFFF80;
  text-align:center;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:445px;
  width:145px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Gill Sans Ultra Bold Oblique", "Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:oblique;
  font-size:22px;
  color:#FFFF80;
  text-align:center;
}
#u71 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:31px;
  background:inherit;
  background-color:rgba(158, 83, 204, 1);
  border-radius:18px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Gill Sans Ultra Bold Oblique", "Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:oblique;
  font-size:22px;
  color:#FFFF80;
  text-align:center;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:491px;
  width:210px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Gill Sans Ultra Bold Oblique", "Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:oblique;
  font-size:22px;
  color:#FFFF80;
  text-align:center;
}
#u72 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:510px;
  width:560px;
  height:157px;
  display:flex;
  transition:none;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:157px;
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:98px;
  padding:2px 2px 2px 20px;
  font-family:"Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:34px;
  letter-spacing:normal;
  color:#9E53CC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u74_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:98px;
  padding:2px 2px 2px 20px;
  font-family:"Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:34px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u74_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:98px;
  padding:2px 2px 2px 20px;
  font-family:"Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:34px;
  letter-spacing:normal;
  color:#9E53CC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u74_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:98px;
  padding:2px 2px 2px 20px;
  font-family:"Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:34px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:18px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0));
  transition:none;
  font-family:"Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:34px;
  color:#9E53CC;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:532px;
  width:454px;
  height:98px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:34px;
  color:#9E53CC;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u74_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:18px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0));
  transition:none;
  font-family:"Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:34px;
  color:#9E53CC;
}
#u74.hint {
}
#u74_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:98px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:18px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0));
  transition:none;
  font-family:"Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:34px;
  color:#9E53CC;
}
#u74.disabled {
}
#u74_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:98px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:18px;
  filter:drop-shadow(5px 5px 2.5px rgba(0, 0, 0, 0));
  transition:none;
  font-family:"Gill Sans Ultra Bold", "Gill Sans", sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:34px;
  color:#9E53CC;
}
#u74.hint.disabled {
}
